@import '../../../index.scss';

.text {
    color: #000;
}

@keyframes dotPulse {

    0%,
    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 99999999;
}

.loading-dot {
    width: 12px;
    height: 12px;
    background-color: #3498db;
    /* Change the color as needed */
    border-radius: 50%;
    margin: 0 6px;
    animation: dotPulse 1.5s infinite ease-in-out;
    z-index: 99999999;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.5s;
}

.loading-dot:nth-child(3) {
    animation-delay: 1s;
}